 @font-face {
 font-family: 'swis721_cn_btbold';
 src: url('../font/swz721bc-webfont.eot');
 src: url('../font/swz721bc-webfont.eot?#iefix') format('embedded-opentype'),  url('../font/swz721bc-webfont.woff') format('woff'),  url('../font/swz721bc-webfont.ttf') format('truetype'),  url('../font/swz721bc-webfont.svg#swis721_cn_btbold') format('svg');
 font-weight: normal;
 font-style: normal;
}
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000000;
  text-align: left;
}


#facebox .popup{
  position:relative;
/*  border:3px solid #ccc;*/
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  -webkit-box-shadow:0 0 18px #666;
  -moz-box-shadow:0 0 18px #666;
  box-shadow:0 0 18px #666;
    background:url(../images/main_bg.jpg);
	border:5px solid #b9b9b9;
	padding:10px;

}
#facebox .popup h2{  font-family: 'swis721_cn_btbold'; font-size:22px; text-align:center;}
#facebox .popup h2 span{ font-size:30px; line-height:40px;}


#facebox .content {
  display:table;
  width:480px;
  padding:10px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  font:normal 12px/24px Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	border:none;
}
fieldset {
	width:500px;
	float:left;
	 font:normal 12px/24px Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none;
	margin:25px 25px 0 25px;
	border:none;
	}
fieldset ul  {
	list-style-type:none;
	margin-bottom:4px;
	float:left;
	}
fieldset ul > label {
	width:100px;
	float:left;
	font:normal 12px/24px Arial, Helvetica, sans-serif;
	color:#898989;
	text-decoration:none;
	text-align:right;
	margin-right:5px;
	}
fieldset ul > input {
	width:380px;
	float:left;
	font:normal 12px/24px Arial, Helvetica, sans-serif;
	color:#898989;
	text-decoration:none;
	background:#fff;
	border:1px solid #dedede;
	height:24px;
	}
	fieldset ul > span {
	width:380px;
	float:left;
	font:normal .8em/2em Arial, Helvetica, sans-serif;
	color:#898989;
	text-decoration:none;
	}
.submitbtn {
	float:left;
	height:26px;
	font:bold 11px/26px Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	background:#2a9fc3;
	border:none;
	cursor:pointer;
	text-align:center;
	margin-left:105px;
	width:80px;
	}
#facebox .content h3 {
  width:590px;
  font:normal 1.4em/1.2em 'sansationregular';
	color:#4c8cae;
	text-decoration:none;
	border-bottom:1px dashed #4c8cae;
	padding-bottom:4px;
}
#facebox .content p {

  font:normal 1.2em/.8em Arial, Helvetica, sans-serif;
	color:#4c8cae;
	text-decoration:none;
	border-bottom:1px dashed #4c8cae;
	padding-bottom:4px;
}
#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
top:-6px;
  right:-6px;
  padding:0px;}
#facebox .close img{
  opacity:0.8;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #fff;
  z-index: 99;
}